body{
    margin: 0;
}
.cont{
    width: 100%;
    height: 900px;
    border: solid rgb(172, 43, 43);
    text-align: center;
}

.img{
    position: relative;
    width: 100%;
    height: 300px;
    border: solid rgb(20, 163, 32);
    text-align: center;
    display: inline-block;

}

.field{
    position: relative;
    border: solid rgb(66, 25, 161);
    width: 300px;
    height: 600px;
    display: inline-block;
}