
.contact{
    position: relative;
    height: 30vw;
    background-color:  rgb(204, 204, 204);
    text-align: center;
    color: darkorange;
}

.text_container1{
    padding-top: 6vw;
}


.other{
    position: relative;
    height: 300px;
   
}

.title a{
    text-decoration: none;
    color: darkorange;
}

.title {
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
    
}

@media only screen and (max-width: 599px) { 
    .text_container1 { 
      display: none; 
    } 
  }
  @media only screen and (min-width: 601px) { 
    .text_container2 { 
      display: none; 
    } 
  }