.contact{
    position: relative;
    height: 300px;
    background-color:  rgb(204, 204, 204);
    text-align: center;
    color: darkorange;
}

.text_container{
    padding-top: 70px;
}

.other{
    position: relative;
    height: 300px;
   
}

.title a{
    text-decoration: none;
    color: darkorange;
}

.title {
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
    
}