body{
    padding-bottom:0;
    margin: 0;
}
.img_container{
    position: relative;
}
img.img{
    height: auto;
    width: 100%;

}


.inspo_text{
    position: absolute;
    left: 2px;
    top:45%;
    width: 40%;
    height: 30%;
    font-size: 2vw;
    text-align: center;
    color:orangered;
}
#inspo_text{
    font-size: 2vW;
    color:orangered;
}

.index_container {
    position: relative;
    height: 300px;
    text-align:center;
    padding-top:30px;
}

.pic {
    position: relative;
    float: left;
    width: 33%;
    height: 300px;
    font-size: 1.5vw;

}

#img-left{
    display: block;
    width: 66%;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
}

#img-middle{
    display: block;
    width: 39%;
    margin-left: auto;
    margin-right: auto;
}

#img-right{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
















.img_container1{
    position: relative;
}
img.img1{
    height: auto;
    width: 640px;

}


.inspo_text1{
    position: absolute;
    left: 2px;
    top:45%;
    width: 40%;
    height: 30%;
    font-size: 15px;
    text-align: center;
    color: white;
}
#inspo_text1{
    font-size: 15px;
    color: white;
}

.index_container1 {
    position: relative;
    height: 30%;
    text-align:center;
}

.pic1 {
    position: relative;
    float: left;
    width: 210px;
    padding-bottom:10%;
    height: 300px;
    font-size: 10px;

}

#img-left1{
    display: block;
    width: 66%;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
}
#img-middle1{

    display: block;
    width: 39%;
    margin-left: auto;
    margin-right: auto;}
#img-right1{

    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 649px) { 
    .img_container { 
      display: none; 
    } 
    .index_container{ 
        display: none; 
    } 
  }
@media only screen and (min-width: 651px) { 
    .img_container1 { 
      display: none; 
    } 
    .index_container1{ 
        display: none; 
    } 
  }