

.mainPageStudent
{
	position: absolute;
	height: 100vw;
	width: 50vw;
	text-align: center;
	background-color: lightblue;
	left:0px;
}
.mainPageCompany
{
	position: absolute;
	text-align: center;
	height: 100vw;
	width: 50vw;
	background-color: lightgreen;
	right: 0px;
}