

.mainPageStudent
{
	position: absolute;
	height: 50vw;
	width: 50vw;
	text-align: center;
	background-color: lightblue;
	left:0px;
}
.mainPageCompany
{
	position: absolute;
	text-align: center;	
	height: 50vw;
	width: 50vw;
	background-color: lightgreen;
	right: 0px;
}
.companyButton
{
	position: relative;
	margin-top: 25vw;
}
.studentButton
{
	position: relative;
	margin-top: 25vw;
}